@page
@model CRUD.Pages.Users.DeleteUserModel
@{
}

<form method="post" class="w-75 create-form" >
    <input hidden asp-for="mangoUser.Id" />
    <div class="border p-3 mt-4 ms-3">
        <div class="row pb-5">
            <h2 class="text-primary pl-3">Delete User</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="mangoUser.Name"></label>
            <input asp-for="mangoUser.Name" type="text" class="form-control rounded-3 border-dark" disabled/>
        </div>
        <div class="mb-4">
            <label asp-for="mangoUser.Gender"></label><br/>
            @*<input asp-for="mangoUser.Gender" type="text" class="form-control"/>*@
            <select asp-for="mangoUser.Gender" class="form-select-sm rounded-3 border-dark" disabled>
                <option value="">&lt;none&gt;</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="mangoUser.DateOfBirth"></label>
            <input asp-for="mangoUser.DateOfBirth" type="date" class="form-control rounded-3 border-dark" disabled/>
        </div>
        <div class="mb-3">
            <label asp-for="mangoUser.Email"></label>
            <input asp-for="mangoUser.Email" type="email" class="form-control rounded-3 border-dark" disabled/>
        </div>
        <div></div>
        <button type="submit" class="btn btn-danger rounded-3 button-arrangement" style="width:150px;">Delete</button>
        <a asp-page="User" class="btn btn-secondary">Back to List</a>       
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}