@page
@model CRUD.Pages.Users.UserModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="col-6 text-end" >
            <a asp-page="create" class="btn btn-primary" ><i class="bi bi-pencil-square"></i> &nbsp; Create New User</a>
        </div>
    </div>

    <br/><br/>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Gender
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.MangoUser)
            {
            <tr>
                <td width="50%">@obj.Name</td>
                <td width="30%">@obj.Age</td>
                <td width="30%">@obj.Gender</td>
            </tr>
            }

           
        </tbody>
    </table>
</div>